@(employeeForm: Form[Employee])(implicit messages: Messages)

@import helper._

@implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.f)
}

@main {

    <h1>Add an employee</h1>

    @form(routes.Application.save()) {

        <fieldset>

            @inputText(employeeForm("firstName"), '_label -> "Employee first name", '_help -> "")
            @inputText(employeeForm("lastName"), '_label -> "Employee last name", '_help -> "")
            @inputText(employeeForm("gender"), '_label -> "Employee gender", '_help -> "")
            @inputDate(employeeForm("birthDate"), '_label -> "Employee birthdate", '_help -> "")
            @inputDate(employeeForm("hireDate"), '_label -> "Employee hiredate", '_help -> "")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Create this employee" class="btn primary"> or
            <a href="@routes.Application.list()" class="btn">Cancel</a>
        </div>

    }

}
